/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/database/seeds/DatabaseMySeeder.php
/database/seeds/data.csv
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/
.phpstorm.meta.php
_ide_helper.php
