
body {
  font-family: 'Trebuchet MS', Helvetica, 'DejaVu Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  color: #444;
  background: url("./images/bg5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: #e8f3f7;
  //background: url("./images/bg.png");
}
#layout {
  width: 1180px;
  margin: 0 auto;
}
#main-container {
  max-width: 1140px;
  margin: 0 auto;
  //border: 1px solid #eee
}

#main_layout {
  margin-top: 60px;
}

//.el-header {
//  background-color: #AFEEEE;
//  color: #333;
//  line-height: 60px;
//}

.main-header {
  background-color: #AFEEEE;
  color: #333;
  line-height: 60px;
  //text-align: right;
  font-size: 12px;
  //position: relative;
  display: flex;
}
.header-block {
  display: inline-block;
  font-size: 18px;
  margin-left: 20px;
  color: #1b3958;
}

.main-header__modal_title {
  background-color: rgb(84, 92, 100);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px
}



.main-header_login-form {
  line-height: 1.5em;
}




.header-link {
  //position: absolute;
  //right: 35px;
  //top: 0
  margin-left: auto;
}

.main-app {
  //background: #eaebeb;
  background: #eef1f6;;
  color: #333;
  margin-bottom: 20px;
  padding: 5px 0;
}

.el-aside {
  //color: #333;
  //bottom:0;
  //height: 100%;
  padding: 8px;
  border-radius: 0;
}

.header a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .header-block {
    margin-left: 8px;
  }
}
.header.login {
  font-size: 18px;
  margin-right: 20px;
  color: #1b3958;
  //text-align: start;
  float: right;
}

.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 7px 20px 20px 0; /* Отступы вокруг картинки */
}
.rightimg  {
  float: right; /* Выравнивание по правому краю  */
  margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

.header-avatar-wrapper {
  //padding-left: 10px;
}

.header-avatar-wrapper img{
  display: block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.welcome-avatar-wrapper {
  margin-top: 5px;
  position: relative;
}
.welcome-avatar-wrapper img{
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.plugin-welcome {
  //align: center;
}
.center {
  //width: 100%;
  //margin: 0 auto;
}
.el-card__body {
  padding-top: 0px;
}
.article-setting-icon{
  position: absolute;
  top: 8px;
  right: 24px;
  cursor: pointer;
  color: #1890ff;
}

@media screen and (max-width: 480px) {
  .el-header {
    padding-left: 5px;
  }
  .el-card__body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .article-setting-icon{
    top: 5px;
    right: 20px;
  }
}

//.red {
//  color: red;
//}
//.green {
//  color: green;
//}
//
//.blue {
//  color: blue;
//}
.no-found {
  margin: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

$spacer: 1rem;

.pr-4 {
  padding-right: ($spacer * 1.5) !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: ($spacer * .25) !important;
}
.mr-2 {
  margin-right: ($spacer * .5) !important;
}
.mr-3 {
  margin-right: ($spacer ) !important;
}
.mr-4 {
  margin-right: ($spacer * 1.5) !important ;
}
.mr-4 {
  margin-right: ($spacer * 3) !important;
}
.mx-0{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-1{
  margin-right: ($spacer * 0.25) !important;
  margin-left: ($spacer * 0.25) !important;
}
.mx-2{
  margin-right: ($spacer * .5) !important;
  margin-left: ($spacer * .5) !important;
}
.mx-3{
  margin-right: ($spacer * 1) !important;
  margin-left: ($spacer * 1) !important;
}
.mx-4{
  margin-right: ($spacer * 1.5) !important;
  margin-left: ($spacer * 1.5) !important;
}
