.do-not-carry {
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  line-break: auto;
  hyphens: manual;
}

.admin-parge-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-red {
  color: #800000;
}

.text-green {
  color: #008000;
}
.page-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
}

//дополнения для element
@media only screen and (max-width: 990px) {
  .el-message-box {
    width: 320px;
  }
}
