//body {
//  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
//}

.w-100 {
  width: 100%;
}

.text-small-90 {
  font-size: .9em;
}
.text-small-85 {
  font-size: .85em;
}
.text-small-80 {
  font-size: .8em;
}
.text-small-75 {
  font-size: .75em;
}
.text-big-10 {
  font-size: 1.1em;
}
.text-big-20 {
  font-size: 1.2em;
}
.text-big-30 {
  font-size: 1.3em;
}
